.main-layout-drawer {
	height: 100%;
}

.side-drawer {
	min-width: 264px;
	padding: 32px 32px 56px;

	.logo {
		margin-bottom: 80px;
	}

	.side-nav {
		flex: 1;
	}
}

.content {
	padding: 32px;
}

.close-btn {
	align-self: flex-end;
}

.header {
	margin-bottom: 32px;

	display: flex;
	justify-content: space-between;
}

.sidenaw-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;

	.log-out-btn {
		margin-top: auto;
	}
}
