form {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.passwordGroup {
	display: flex;
	flex-direction: column;
	text-align: center;
}

button {
	margin-top: 16px;
	margin-bottom: 16px;
}

.register {
	padding: 50px;
	border-radius: 24px;
}

.form-field {
	width: 100%;
}

.logo {
	margin: 0 auto;
	margin-bottom: 20px;
}
