form {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.passwordGroup {
	display: flex;
	flex-direction: column;
	text-align: center;
}

button {
	margin-top: 16px;
	margin-bottom: 16px;
}
