:host {
	display: inline-block;
	margin: 24px;
}

.show-card {
	border-radius: 24px;
	overflow: hidden;
	max-width: 240px;
	padding-left: 0;
	padding-right: 0;
}

.description {
	padding-left: 16px;
	padding-right: 16px;
}

img {
	width: 240px;
	height: 300px;
}
