#content {
	width: 70%;
	margin: 0 auto;
}

body {
	background-color: darkslateblue;
}

#page-title {
	color: white;
}

#show-info {
	background-color: white;
	color: darkslateblue;
	display: flex;
}

#review-create {
	color: white;
}

#review-body {
	width: 100%;
}

#show-image {
	padding: 0;
}

#show-image img {
	width: 100%;
}

#review-rating {
	margin-top: 20px;
}

#review-create button {
	margin-top: 20px;
	display: block;
}

.review {
	margin-top: 20px;
	color: white;
	background-color: slateblue;
	padding: 10px 0px 10px 20px;
}

#reviews {
	margin-bottom: 50px;
}
