@use 'utils/colors';

.review {
	background-color: colors.$purple;
	border-radius: 24px;
	margin-bottom: 25px;
	overflow: hidden;
	display: flex;
	padding: 40px;
}

.info {
	flex: 1;
	padding-right: 20px;
	display: flex;
	align-items: center;
	p {
		margin: 0;
	}
}

.content {
	flex: 3;
}

.image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.image-container {
	margin-right: 10px;
}
