@use 'utils/colors';

.review {
	background-color: colors.$purple;
	border-radius: 24px;
	margin-bottom: 25px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px;
}

@media screen and (max-width: 960px) {
	.content {
		margin-top: 25px;
	}
	.review {
		flex-direction: column;
	}
	.menu-btn {
		align-self: flex-end;
		order: 2;
	}
	.info {
		order: 1;
	}
	.content {
		order: 3;
	}
}

.info {
	flex: 1;
	display: flex;
	align-items: center;
	padding-right: 25px;
	p {
		margin: 0;
	}
	width: 100%;
}

.content {
	flex: 3;
}

.image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.image-container {
	margin-right: 10px;
}

.user-rating {
	min-width: 0;
	width: 100%;
	p {
		width: 100%;
		word-wrap: break-word;
	}
}
