<div class="review">
	<div class="info">
		<div class="image-container">
			<img class="image" [src]="userImageUrl" onerror="this.src='assets/images/placeholder_avatar.jpg'" alt="">
		</div>
		<div class="user-rating">
			<p>{{ userEmail }}</p>
			<p>
				{{ rating }}/5
				<ngb-rating [(rate)]="rating" [readonly]="true" [max]="5"></ngb-rating>
			</p>
		</div>
	</div>
	<div class="content">
		<p>{{ comment }}</p>
	</div>
	<ng-container *ngIf="userEmail === currentUserEmail">
		<button (click)="onDeleteReview()">Delete</button>
	</ng-container>
</div>