<div class="review">
	<div class="info">
		<div class="image-container">
			<img class="image" [src]="review.user.imageUrl || 'assets/images/placeholder_avatar.jpg'" alt="">
		</div>
		<div class="user-rating">
			<p>{{ review.user.email }}</p>
			<p>
				{{ review.rating }}/5
				<ngb-rating [(rate)]="review.rating" [readonly]="true" [max]="5"></ngb-rating>
			</p>
		</div>
	</div>
	<div class="content">
		<p>{{ review.comment }}</p>
	</div>
	<ng-container *ngIf="review.user.email === currentUserEmail">
		<button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button (click)="onDeleteReview()" mat-menu-item>
				<span>Delete</span>
			</button>
		</mat-menu>

	</ng-container>
</div>