@use 'utils/colors';

form {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

.star {
	font-size: 25pt;
	color: colors.$purple;
}

.filled {
	color: colors.$white;
}

.comment-textarea {
	background-color: colors.$white;
	color: colors.$purple;
	border-radius: 24px;
	padding: 25px;
}

.rating {
	padding-left: 30px;
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}
