.login {
	padding: 25px 50px;
	border-radius: 24px;
}

.form-field {
	width: 388px;
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

button {
	margin-bottom: 16px;
}

.logo {
	margin: 0 auto;
	margin-bottom: 20px;
}
