@use 'utils/colors';

:host {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: colors.$dark-purple;
}

@media screen and (max-width: 960px) {
	:host {
		background-color: colors.$purple;
	}
}
